/* .owerflov p{
    width: 300px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; 
} */
/* .owerflov p{
    width: 100px;
    background-color: aqua;
    white-space: nowrap;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
} */

/* .mask{
    -webkit-mask-image: url(./img/images.png);
    mask-image: url(./img/images.png);
  } */





.wraper{
    margin-top: 100px;
    margin-left: 100px;
  }
.chek{
    cursor: pointer;
    appearance: none;
    width: 40px;
    height: 80px;
    background-color: gray;
    border-radius: 20px;
    position: relative;
    transition: all 0.5s;
}
.chek:checked{
    background-color: blue;
}
.chek::before{
    content: '';
    width: 36px;
    height: 36px;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: all 0.5s;
}
.chek:checked::before{
    top: 41px;
}